
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
div {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    margin: 15px;
    
}

p {
    text-align: center;
    width: 100px;
    padding: 8px;
    position: relative;
}

#p1 {
    background-color: blue;
    color: white;
}

#p2 {
    background-color: maroon;
    color: white;
}

#p3 {
    background-color: yellow;
    
}



