
* {
    box-sizing: border-box;
    
}


h1 {
    text-align: center;
}
div {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 96%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    position: relative;

    
}

nav {
    text-align: center;
    width: 100px;
    
    display: inline;


}

#p1 {
    background-color: blue;
    border: 1px solid black;
    color: white;
    padding: 5px;
    position: absolute;
    right:0px;
    top:0px;


    
}

#p2 {
    background-color: maroon;
    border: 1px solid black;
    color: white;
    padding: 5px;
    position: absolute;
    right:0px;
    top:0px;
}

#p3 {
    background-color: yellow;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    right:0px;
    top:0px;
    
}

/* For Desktops */
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        width: 96%;
        /*height: 300px;*/
        float: left;
    }
     
     .col-lg-1 {
        width: 25%;
     }
     .col-lg-2 {
        width: 25%;
     }
     .col-lg-3 {
        width: 25%;
     }

        
    
}

/*For Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        width: 96%;
        float: left;
}
    .col-lg-1 {
        width: 33.33%;
    }
    .col-lg-2 {
        width: 33.33%;
    }
    .col-lg-3 {
        width: 69.16%;
    }

/*For Mobile*/
@media (width: 767px) , (max-width: 767px) {

    .col-lg-1, .col-lg-2, .col-lg-3 {
        width: 96%;
        float: left;
    }
    .col-lg-1 {
        width: 33.33%;
    }
    .col-lg-2 {
        width: 33.33%;
    }
    .col-lg-3 {
        width: 33.33%;
    }
}


